.atualizacao{
	background-image: url(../images/cadastros/atualizacao.png) !important;
}
.confirmar{
	background-image: url(../images/cadastros/confirmar.png) !important;
}
.CÃ³pia de salvar{
	background-image: url(../images/cadastros/CÃ³pia de salvar.png) !important;
}
.Cópia de salvar{
	background-image: url(../images/cadastros/Cópia de salvar.png) !important;
}
.erro{
	background-image: url(../images/cadastros/erro.png) !important;
}
.excluir{
	background-image: url(../images/cadastros/excluir.png) !important;
}
.excluirx{
	background-image: url(../images/cadastros/excluirx.png) !important;
}
.incluir{
	background-image: url(../images/cadastros/incluir.png) !important;
}
.novo{
	background-image: url(../images/cadastros/novo.png) !important;
}
.pesquisa{
	background-image: url(../images/cadastros/pesquisa.png) !important;
}
.remover{
	background-image: url(../images/cadastros/remover.png) !important;
}
.sair{
	background-image: url(../images/cadastros/sair.png) !important;
}
.salvar{
	background-image: url(../images/cadastros/salvar.png) !important;
}
.Thumb{
	background-image: url(../images/cadastros/Thumbs.db) !important;
}
