.acao{
	background-image: url(../images/xmenu/acao.png) !important;
}
.alteraenha{
	background-image: url(../images/xmenu/alteraenha.png) !important;
}
.ativacontas16{
	background-image: url(../images/xmenu/ativacontas16.gif) !important;
}
.backup{
	background-image: url(../images/xmenu/backup.png) !important;
}
.backup16{
	background-image: url(../images/xmenu/backup16.png) !important;
}
.baixadetitulo{
	background-image: url(../images/xmenu/baixadetitulo.png) !important;
}
.baixadetitulo16{
	background-image: url(../images/xmenu/baixadetitulo16.png) !important;
}
.baixadetitulocnab{
	background-image: url(../images/xmenu/baixadetitulocnab.png) !important;
}
.banco{
	background-image: url(../images/xmenu/banco.png) !important;
}
.banco16{
	background-image: url(../images/xmenu/banco16.png) !important;
}
.boletoavulso{
	background-image: url(../images/xmenu/boletoavulso.png) !important;
}
.camposextras{
	background-image: url(../images/xmenu/camposextras.png) !important;
}
.camposextras16{
	background-image: url(../images/xmenu/camposextras16.png) !important;
}
.centrocusto{
	background-image: url(../images/xmenu/centrocusto.png) !important;
}
.centrocusto16{
	background-image: url(../images/xmenu/centrocusto16.png) !important;
}
.classificacao{
	background-image: url(../images/xmenu/classificacao.png) !important;
}
.classificacao16{
	background-image: url(../images/xmenu/classificacao16.png) !important;
}
.cliente{
	background-image: url(../images/xmenu/cliente.png) !important;
}
.cliente16{
	background-image: url(../images/xmenu/cliente16.png) !important;
}
.cobrancaautomatica{
	background-image: url(../images/xmenu/cobrancaautomatica.png) !important;
}
.cobrancageral{
	background-image: url(../images/xmenu/cobrancageral.png) !important;
}
.cobrancaunitaria{
	background-image: url(../images/xmenu/cobrancaunitaria.png) !important;
}
.cobrancaunitaria16{
	background-image: url(../images/xmenu/cobrancaunitaria16.png) !important;
}
.computador{
	background-image: url(../images/xmenu/computador.png) !important;
}
.config16{
	background-image: url(../images/xmenu/config16.png) !important;
}
.configcentral{
	background-image: url(../images/xmenu/configcentral.png) !important;
}
.contact-new{
	background-image: url(../images/xmenu/contact-new.png) !important;
}
.engineering{
	background-image: url(../images/xmenu/engineering.png) !important;
}
.engineering16{
	background-image: url(../images/xmenu/engineering16.png) !important;
}
.vendedor{
	background-image: url(../images/xmenu/vendedor.png) !important;
}
.mercadoria16{
	background-image: url(../images/xmenu/mercadoria16.png) !important;
}
.mercadoria{
	background-image: url(../images/xmenu/mercadoria.png) !important;
}
.vendedor16{
	background-image: url(../images/xmenu/vendedor16.png) !important;
}
.contas{
	background-image: url(../images/xmenu/contas.png) !important;
}
.contas16{
	background-image: url(../images/xmenu/contas16.png) !important;
}
.contasapagar{
	background-image: url(../images/xmenu/contasapagar.png) !important;
}
.contasareceber{
	background-image: url(../images/xmenu/contasareceber.png) !important;
}
.dadoscentral{
	background-image: url(../images/xmenu/dadoscentral.png) !important;
}
.dep_helpdesk{
	background-image: url(../images/xmenu/dep_helpdesk.png) !important;
}
.dep_helpdesk16{
	background-image: url(../images/xmenu/dep_helpdesk16.png) !important;
}
.exclui16{
	background-image: url(../images/xmenu/exclui16.gif) !important;
}
.extrato{
	background-image: url(../images/xmenu/extrato.png) !important;
}
.fechar{
	background-image: url(../images/xmenu/fechar.png) !important;
}
.financeiro16{
	background-image: url(../images/xmenu/financeiro16.png) !important;
}
.forma{
	background-image: url(../images/xmenu/forma.png) !important;
}
.forma16{
	background-image: url(../images/xmenu/forma16.png) !important;
}
.formulario{
	background-image: url(../images/xmenu/formulario.png) !important;
}
.formulario16{
	background-image: url(../images/xmenu/formulario16.png) !important;
}
.fornecedor{
	background-image: url(../images/xmenu/fornecedor.png) !important;
}
.fornecedor16{
	background-image: url(../images/xmenu/fornecedor16.png) !important;
}
.helpdesk{
	background-image: url(../images/xmenu/helpdesk.png) !important;
}
.helpdesk16{
	background-image: url(../images/xmenu/helpdesk16.png) !important;
}
.impressaomultipla{
	background-image: url(../images/xmenu/impressaomultipla.png) !important;
}
.lancamentoautomaticao{
	background-image: url(../images/xmenu/lancamentoautomaticao.png) !important;
}
.lancamentoautomaticao16{
	background-image: url(../images/xmenu/lancamentoautomaticao16.png) !important;
}
.mala{
	background-image: url(../images/xmenu/mala.png) !important;
}
.mala16{
	background-image: url(../images/xmenu/mala16.png) !important;
}
.novo1{
	background-image: url(../images/xmenu/novo1.png) !important;
}
.parcelamultiplas{
	background-image: url(../images/xmenu/parcelamultiplas.png) !important;
}
.parcelamultiplas16{
	background-image: url(../images/xmenu/parcelamultiplas16.png) !important;
}
.pesq{
	background-image: url(../images/xmenu/pesq.png) !important;
}
.pesquisa{
	background-image: url(../images/xmenu/pesquisa.png) !important;
}
.print16{
	background-image: url(../images/xmenu/print16.png) !important;
}
.reabrir{
	background-image: url(../images/xmenu/reabrir.png) !important;
}
.relcontapagar{
	background-image: url(../images/xmenu/relcontapagar.png) !important;
}
.relcontareceber{
	background-image: url(../images/xmenu/relcontareceber.png) !important;
}
.relusuario{
	background-image: url(../images/xmenu/relusuario.png) !important;
}
.restore{
	background-image: url(../images/xmenu/restore.png) !important;
}
.restore16{
	background-image: url(../images/xmenu/restore16.png) !important;
}
.resumo{
	background-image: url(../images/xmenu/resumo.png) !important;
}
.resumo16{
	background-image: url(../images/xmenu/resumo16.png) !important;
}
.servico{
	background-image: url(../images/xmenu/servico.png) !important;
}
.servico16{
	background-image: url(../images/xmenu/servico16.png) !important;
}
.servidores{
	background-image: url(../images/xmenu/servidores.png) !important;
}
.servidores16{
	background-image: url(../images/xmenu/servidores16.png) !important;
}
.sistema{
	background-image: url(../images/xmenu/sistema.png) !important;
}
.sistema16{
	background-image: url(../images/xmenu/sistema16.png) !important;
}
.textos{
	background-image: url(../images/xmenu/textos.png) !important;
}
.textos16{
	background-image: url(../images/xmenu/textos16.png) !important;
}
.themas{
	background-image: url(../images/xmenu/themas.png) !important;
}
.themas16{
	background-image: url(../images/xmenu/themas16.png) !important;
}
.Thumb{
	background-image: url(../images/xmenu/Thumbs.db) !important;
}
.usuario{
	background-image: url(../images/xmenu/usuario.png) !important;
}
.usuario16{
	background-image: url(../images/xmenu/usuario16.png) !important;
}
